<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="initial-scale=1.0, width=device-width"/>
        <title>Peace's Jewels</title>
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"/>
    </head>
    <body>
        <header>
            <img alt="Jewel Logo" src="{{ url_for('static',filename= 'logo.jpeg') }}" />
            <h1>Peace's Jewels</h1>
            <p>A place to find the finest jewellery</p>
            {% if g.user %} 
                <p>User id: {{ g.user }}</p>
                <p><a href="{{ url_for('logout') }}">Logout</a></p>
            {% else %} 
                <p><a href="{{ url_for('register') }}">Register</a></p>
                <p><a href="{{ url_for('login') }}">Login</a></p>
            {% endif %} 
        </header>
        <nav>
            <a href="{{ url_for('products') }}">Jewellery</a>
            <a href="{{ url_for('account') }}">Account</a>
            <a href="{{ url_for('index') }}">Homepage</a>
            <a href="{{ url_for('all_reviews') }}">Reviews</a>
        </nav>
        <main>
            {% block main %}
            
            {% endblock%}

        </main>
        <aside>
            <section>
                <h4>Stay updated!</h4>
                <small><p>Sign up for monthly updates, news, launches and insights</p></small>
                <a href="{{ url_for('subscription') }}">Click here to Sign Up</a>
            </section>
        </aside>
        <footer>
            <p>
                <small>
                    &copy; Peace's Webpage
                    Author: Peace Samuel
                </small>
            </p> 
        </footer>
    </body>
</html>