@viewport{
    width: device-width;
}

*, *:before,*:after{
    box-sizing: border-box;
}
:root{
    --base-bgcolor: rgb(243, 193, 221);
    --main-color: rgb(204, 24, 123);
    --main-bgcolor: rgb(166, 234, 247);
    --component-color: black;
    --component-bgcolor:white;
    --special-textcolor: rgb(155, 7, 155);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
}
html{
    background-color: var(--base-bgcolor);
}
body{
    color: var(--main-color);
    background-color: var(--main-bgcolor);
    border: solid 2px var(--main-bgcolor);
    border-radius: 2rem;
    width: 80%;
    margin: 0 auto;
}
header > h1{
    display: inline;
    font-size: 3rem;
    text-shadow: rgb(250, 240, 250) 2px 2px 4px;
}
header{
    padding: 1rem;
    display:inline-block;
}
body > *{
    margin-bottom: 1rem;
}
table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid rgb(252, 7, 7)
}
@media (hover: none) {
    tr:nth-child(odd) {
        background-color: var(--base-bgcolor);
    }
}

@media (hover: hover) {
    tr:hover {
        background-color: var(--base-bgcolor);   
    }
}

img{
    max-width: 100%;
}

nav{
    text-align: center;
}
nav >a{
    color: var(--special-textcolor);
    background-color: var(--component-bgcolor);
    border: solid 2px var(--base-bgcolor);
    border-radius: 1rem;
    padding: 1rem;
    display: inline-block;
}
main{
    color: var(--component-color);
    background-color: var(--component-bgcolor);
    border: solid 4px var(--base-bgcolor);
    border-radius: 1rem;
}
main >*, main >section>*{
    margin: 1rem;
    padding: 1rem;
}

aside > section{
    margin: 1rem;
    padding: 1rem;
    border:  solid 3px var(--base-bgcolor);
    border-radius: 1rem;
    background-color: rgb(252, 250, 252);
}

aside h4{
    color: var(--special-textcolor);
    margin: 0 1rem;
    padding: 0 1rem;
}

@media (hover: hover){
    a:hover{
        background-color:violet;
    }
}
@media (hover:none){
    a:visited{
        background-color:violet;
    }
}
footer{
    text-align: center;
}

@media screen and (min-width: 300px){
    body{
        border-radius: 1rem;
        width: 95%;
        margin: auto auto;
    }
    main{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    main > section{
        border: none;
    }
    aside >section{
        text-align:center;
    }
}

@media screen and (min-width: 450px){
    body{
        border-radius: 1rem;
        width: 95%;
        margin: 1rem auto;
    }
    main{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    main > section{
        flex: 0 0 46%;
    }
    aside >section{
        text-align:center;
    }
    main > section{
        border: solid 1px var(--main-bgcolor);
        border-radius: 1rem;
    }

}

@media  screen and  (min-width: 1000px){
    body{
        display: grid;
        grid-template-columns: 80% 20%;
        grid-template-rows: auto;
        grid-template-areas: "upper-top upper-top"
                             "lower-top lower-top"
                             "middle-left middle-right"
                             "bottom bottom";
    }
    header{
        grid-area: upper-top;
    }
    nav{
        grid-area: lower-top;
    }
    main{
        grid-area: middle-left;
    }
    
    aside{
        grid-area: middle-right;
    }
    
    footer{
        grid-area: bottom;
    }
    main > section{
        border: solid 1px var(--main-bgcolor);
        border-radius: 1rem;
    }
}
